/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
    margin: 2% 10%;
    font: 12px/1.4 Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h1 { font-size: 20px; }
h2 { font-size: 16px; margin: 3em 0 0.5em; }
h3 { font-size: 14px; margin: 2em 0 0.5em; }
h4 { font-size: 12px; }
h5 { font-size: 11px; }
h6 { font-size: 10px; }

hr { color: #999999; height: 1px; }

img { border: none; }
th { text-align: left; }

.error { color: #FF0000; }
.icon { float: right; margin: 5px; }
.intro { font-size: 14px;  line-height: 1.6; font-weight: bold;}
.label { font-weight: bold; width: 260px; }
.result { width: 100%; background: #eef; }
